.groupFolder {
    position: relative;
}
.groupFolder::after {
    content: "More";
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 13px;
    font-weight:500 ;
    opacity: 0; 
    transition: opacity 0.2s ease;
    pointer-events: none;
}
.groupFolder:hover::after {
    opacity: 1; 
}