.font{
    font-family: "Atlas Grotesk Web", "Atlas Grotesk ", AtlasGrotesk, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size : 14px;
    font-weight: 400;
}